<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{{ '/' | url }}" rel="home">
      <img src="{{ '/assets/images/logo.png' | url }}" alt="home">
    </a>
  </nav>
</div>
