{% extends 'default.njk' %}

{% block default %}
<main class="main container" role="main" id="{{ pageId }}">

  <header>
    <h1>{{ title }}</h1>
  </header>

  <div>
    {{ content | safe }}
  </div>

</main>
{% endblock %}
